
    body{
        font-family: 'Rajdhani', sans-serif;

        }
        .bg-img{
           background-image: {{asset("/image/bg.jpeg")}};

        }

        .card{

            border:none;
        }
        .cont .card{
          transition:1s;
          overflow: hidden;
          transform-style: preserve-3d;
        }
        .cont{
          display: flex;
          flex-wrap:;
          transform-style: preserve-3d;
          transition:
        }
        .cont:hover .card{
          transform: perspective(500px) rotateY(30deg);

        }
        .cont .card:hover{
          transform: perspective(500px) rotateY(0deg);
          background:linear-gradient(45deg, #d21373, #9647a0);
          color: white;
          -webkit-box-shadow: inset 78px 79px 34px -97px rgba(0,20,99,1);
-moz-box-shadow: inset 78px 79px 34px -97px rgba(0,20,99,1);
box-shadow: inset 78px 79px 34px -97px rgba(61,0,5,1);

        }
        .cont .card:hover ~ .card{
          transform: perspective(500px) rotateY(-30deg);

        }
        .side{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .side a{
          background:#e74c3c;
          color: white;
          font-size: 16px;
          width:130px;
          padding:12px;
          text-decoration:none;
          margin:8px 0;
          display:block;
          margin-left:-100px;
          transition:0.6s all;
        }
        .side a:hover{
          margin-left:0;
        }
        .social-menu ul{
          display: flex;
        }
        .social-menu ul li{
          list-style: none;
        }
        .social-menu ul li .fab{
          color: black;
          font-size:30px;
          margin-top:25%;
        }
        .social-menu ul li .fas{
          color: black;
          font-size:30px;
          margin-top:25%;
        }
        .social-menu ul li:hover .fas{
          color: white;
        }
        .social-menu ul li:hover .fab{
          color: white;
        }
        .social-menu ul li a{
          position: relative;
          width:60px;
          height:60px;
          border-radius:50%;
          background-color: white;
          text-align:center;
          display:block;
          transition: .6s;
          box-shadow: 0 4px 5px rgba(0,0,0,.5);
        }
        .social-menu ul li a:hover{
          transform:translate(0, -10px);
          color: white;
        }
        .social-menu ul li:nth-child(1) a:hover{
          background-color:#3b5999;
        }
        .social-menu ul li:nth-child(2) a:hover{
          background-color: #303030;
        }
        .social-menu ul li:nth-child(3) a:hover{
          background-color: #cd201f;
        }

.box{
  box-shadow: 8px 10px 10px #e0e0e0;
  border-radius:7px;
  width: 300px;
  padding: 40px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background:white; 
  text-align: center;
}
.box input[type="email"], .box input[type="password"],  .box input[type="text"]{
  border: 0;
  background: none;
  margin:20px auto;
  display: block;
  text-align: center;
  border-bottom:solid 2px #4b4b4b;
  border-radius:5px;
  padding:14px 10px;
  width: 200px;
  outline:none;
  color:white;
  transition:0.25s;
}
.box input[type="email"]:focus, .box input[type="password"]:focus, .box input[type="text"]:focus{
  width:280px;
  border-color:#3ae374;
}
.box input[type="submit"]{
  border: 0;
  background:linear-gradient(45deg ,#3ae374,#4b4b4b);
  margin:20px auto;
  display: block;
  text-align: center;
  border-radius:10px;
  padding:10px 8px;
  width: 150px;
  outline:none;
  color:white;
  transition:0.25s;
}